    * {
        margin: 0;
        padding: 0;
        font-family: "Montserrat", sans-serif;
    }


    .container {
        margin: 0 auto ;
        max-width: 1920px;
        width: 100%;
        flex-wrap: wrap;
    }


    header {
        width: 100%;
        padding: 20px 0;
        margin:  0 auto;
        position: sticky;
        top: 0;
        z-index: 100;
        height: auto;
        background-color: rgba(255, 255, 255, 0.707) ;
        backdrop-filter: blur(45px);
        
    }



    .logo {
        width: 79%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }  


    a {
        font-family: "Montserrat" sans-serif;
        margin: 0 15px;
        text-decoration: none;
        font-size: 13px;
        color: black;
    }


    a:hover {
        color: #D1A954;
        transition: 0.4s;
    }


    .boxes {
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin: 0px auto;
        
    }

    .box{
    width: 30%;
    overflow: hidden;
    position: relative;
    }


    .box  img {
        width: 100%;
        height: 100%;
    }



    .text-items {
        width: 100%;
        padding: 20px 0;
        position: absolute;
        bottom: -120px;
        text-align: center;
        background-color: #D1A954;
        opacity: 75%;
        transition: bottom 0.3s ease;
    }

    .box:hover .text-items {
        bottom: 0px;
    }


    .slider {
        margin: 100px 0;
        display: flex;
        justify-content: center;
    }


    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    .dvorets {
        width: 46px;
        margin: 20px 0;
    }
    }


    .video {
        display: flex;
        justify-content: center;
        align-items: center;

    img {
        max-width: 920px;
        width: 100%;
    }
    }


    .gray-back {
        margin-top: -700px;
        height: 750px;
        background-color: rgb(249, 247, 247);
    }


    .description {
        padding-top: 90px;
        display: flex;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }


    .left-desc {
        width: 50%;

    img {
        margin-bottom: 33px;
    }

    p {
        font-size: 14px;
        width:  70%;
    }
    }


    .right-desc {
        width: 50%

    }


    .right-up {
        display: flex;
        gap: 30px;
        margin-bottom: 40px;
        width: 100%;
    }


    .right-down {
        display: flex;
        gap: 30px;
        width: 100%;
    } 


    .general {
        width: 240px;
        width: 50%;

    p {
        font-size: 14px;
    }
    }


    .logo-h {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

    h1 {
        font-size: 16px;
        font-family: "Montserrat" sans-serif;
    }
    }


    .main-img {
        margin-top: 100px;
        max-width: 1110px;
        width: 100%;
        height: 960px;
        margin: 0 auto;
        margin-top: 100px;
    }


    .up-img {
        display: flex;
        height: 300px;
        justify-content: center;
        align-items: center;
        gap: 30px;

    .galery {
        max-width: 300px;
        width: 25%;
        padding: 75px;
    }

    .up-2 {
        max-width: 445px;
        width: 40%;
    }

    .up-3 {
        max-width: 350px;
        width: 35%;
    }
    }


    .down-img {
        display: flex;
        height: 630px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 30px;

    .down-1 {
        max-width: 635px;
        width: 100%;
    }
    }


    .right-col-1 {

        margin-bottom: 30px;
    }


    .background-content {
        background-image: url(./images/back.png);
        margin: 120px 0;
        max-width: 1920px;
        width: 100%;
        height: 400px;
        text-align: center;

    h1 {
        padding-top: 120px;
        font-size: 36px;
        color: white;
    }
    }


    .buttons button {
        margin: 70px 0 50px 50px;
        padding: 15px 45px;
    }


    .information {
        display: flex;
        justify-content: space-between;
        margin: 120px 400px;
        max-width: 1110px;
        width: 100%;

    .left-info {
        width: 50%;

    .hight-left {
        max-width: 540px;
        width: 100%;
    }

    .end-left {
        margin-top: 60px;
        max-width: 540px;
        width: 100%; 
    }
    }


    .hight-left  h1 {
        margin-bottom: 40px;
    }


    .col-1 {
        width: 50%;
    }


    .end-items {
        margin-top: 30px;
        display: flex;
    }


    .item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 0 27.5px;
    }


/* here already right block of information */

    .right-info {
        max-width: 540px;
        width: 100%;

    form input {
        margin-bottom: 30px;
        width: 540px;
        height: 30px;
    }

    .last-input input {
        width: 540px;
        height: 177px;
    }

    button {
        width: 180px;
        height: 45px;
        background-color: #D1A954;
        border-color:#D1A954;
        color: white;
    }
    }
    }


    .down-main {
        background-color: rgb(249, 247, 247);
        height: 625px;

    .down-h {
        padding-top: 120px;
        text-align: center;

    h1 {
        font-size: 36px;
    }

    img {
        margin: 10px 0;
        padding: 0;
    }
    }

    .down-img {
        margin-top: 100px;
        gap: 0;
    }

    .down-img img {
        width: 300px;
        height: 300px;
    }
    }


    .footer {
        padding: 0 200px;
        margin-top: -85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }




